#home{
    width: auto;
    height: 100vh;
    background-color: black;
    color: white;
    font-weight: 300;
    overflow: hidden;
}
.hero{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1em;
}
p.animation-text{
    position: relative;
    font-family: 'Consolas';
    margin: 0;
    padding: 0;
    float: left;
    color:rgba(255, 255, 255, 0.384);
    display: block;
    animation: type 5s steps(18) 1s infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    width: 18ch;
    border-right: 8px solid rgb(5, 184, 43);
}
@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width: 18ch;
    }
}
