body{
    background-color: black;
    overflow-x:hidden ;
}
#profile{
 
   color: white;

}
.hero{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1em;
}
.animate{
  
    border-radius: 2em;
    border:12px solid #333;
    text-align: center;    
    animation: animate 1s linear infinite alternate;
    filter:saturate(140%);
    
}
@keyframes animate{
    0%{
        border-left:12px solid #da4453;
        border-right:12px solid #89216b;
    }

    100%{
        border-bottom:12px solid #89216b;
        border-top:12px solid #da4453;
    }
}
h1.display-3,strong{
    color: #da4453;
    display: block;
    font-weight:500 ;
    text-align: left;
}
p.lead{
    font-weight:400 ;
    text-align: left;
    line-height: 1.7em;
    letter-spacing: .1em;
}
.btn-outline-color{
    border:1px solid #da4453;
    color: #fff;
  
     
    transition: .5s;
}
.btn-outline-color:hover{
    background-color:#da4453 ;
    color: #fff;
   

}
span.sed{
    color:orange !important;
}
