.skills h1{
    /* color:#2ebf91;
    border-bottom: 1px solid #8360c3; */
  
    background: #8360c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills p{
   color: #fff;
   
}
.btn-outline-x{
border: 1px solid #2ebf91;
transition: 0.5s;
color: #fff;
}
.btn-outline-x:hover{
    background-color: #2ebf91;
    color: #fff;
}

.skills h1{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    display: inline-block;
  }
  
  .skills h1:hover {
    
    /* animation: rubberBand 5s infinite; */
    animation-name: rubberBand;
  }
  
  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  } 


  .animte-div{
      background-color: #2ebf91;
      width: 50px;
      height: 50px;
      position: absolute;
      animation: name 1s infinite 2s alternate linear;
      top:0;
      background-attachment: fixed;
 
  }
 
.animte-div2{
    background-color: #78ffd6;
    width: 50px;
    height: 50px;
    position: absolute;
    left:0;
    top:50%;
    animation: name 2s infinite 2s alternate linear;
    background-attachment: fixed;
    
}
.animte-div3{
    background-color: #a8ff78;
    width: 50px;
    height: 50px;
    position: absolute;
    top:90%;
    right: 80%;
    animation: name 3s infinite 2s alternate linear;
    background-attachment: fixed;
    
}
.animte-div4{
    background-color: #99f2c8;
    width: 50px;
    height: 50px;
    animation: name 4s infinite 2s alternate linear;
    position: absolute;
    top:0;
    left: 50%;
    background-attachment: fixed;
    
}
.animte-div5{
    background-color: #8360c3;
    width: 50px;
    height: 50px;
    animation: name 5s infinite 2s alternate linear;
    position: absolute;
    left:80%;
    bottom: 0%;
    background-attachment: fixed;
    
}
  @keyframes name{
      0%{
         top: 0%;
         bottom: 80%;
         transform: rotateZ(0deg);
         border-radius: 0%;
      }
      75%{
        right: 50%;  
        top:50%;
        border-radius: 50%;
        transform: rotateZ(360deg);
      }
       100%{
        right: 50%;  
        top:0%;
        bottom: 70%;
        border-radius: 50%;
        transform: rotateZ(360deg);
       }
      
  }

