.work{
    background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.github{
    text-decoration: none;
    color: #a8ff78;;
    transition: .3s;
}
.github:hover{
    text-decoration: none;
    color: #a8ff78;
    
}
.workDiv{
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    z-index: -1;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top:50%;
    left:50%;
    height: 100px;
    width: 100px;

}
.workDiv::after{
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    left: 100px  ;
    top: -100px;
    background-color:yellow;
    animation: box 4s infinite alternate linear; 
  
}
.workDiv::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
   top: 100px;
   left: -50px;
    background-color:orange;
    animation: box 4s infinite alternate linear;
}
@keyframes box{
    0%{
        border-radius: 0%;
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        border-radius: 50%;
    }
}